.card {
  width: 160px;
  height: 235px;
  margin: 20px;
}

.cardImg {
  width: 160px;
  height: 208px;
  background-color: var(--white-color);
  border-radius: 15px 15px 10px 10px;
}

.cardImg img {
  width: inherit;
  object-fit: contain;
}

.cardImg p {
  width: 80px;
  font-size: 10px;
  font-weight: 400;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
}

.card div h3 {
  font-size: 14px;
  font-weight: 400;
  color: var(--white-color);
  margin-top: 5px;
}
